/*
* To scroll on the list columns, not the whole page set this:
*
* .list { max-height: 100%; }
* #board { overflow-y: hidden; }
*
*/


body {
    z-index: 0;
    overflow-y: auto;
    margin: 0;
}
#surface, body, html {
    height: 100%;
}

#content, body {
    position: relative;
}

.body-board-view {
    background-size: cover;
    overflow: hidden;
}

/* #surface */
#surface {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* #content */
#surface > #content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* .board-wrapper */
.board-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* .board-main-content */
.board-main-content {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    -webkit-transition: margin .1s ease-in;
    transition: margin .1s ease-in;
}

.board-main-content, .board-menu-container, .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

/* .board-canvas */
.board-canvas {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* #board */
#board {
    white-space: nowrap;
    overflow-x: auto;
    /* overflow-y: hidden; */
    overflow-y: auto;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.u-fancy-scrollbar, pre {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}

/* .list-wrapper */
.list-wrapper:first-child {
    margin-left: 0;
}

.list-wrapper {
    width: 270px;
    padding: 6px 0 6px 6px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

/* .list */
.list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* max-height: 100%; */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    white-space: normal;
}

.list-cards {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

/* menu */

.board-wrapper.is-show-menu .board-menu {
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.board-wrapper.is-show-menu .board-main-content {
    margin-right: 270px;
}

.board-menu {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition-property: -webkit-transform, width;
    transition-property: transform, width;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
    width: 270px;
    z-index: 5;
}